@page 
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    .container {
        margin: 0 auto;
        padding: 20px;
    }
    hhhhhh
    body {
        font-family: Arial, sans-serif;
        background-color:grey;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
